<h2 class="center orange-text">About</h2>

<!--Intro Card-->
<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card orange">
      <div class="card-content white-text about-content">
        <div class="card-title center">
          <h3>Nice to meet you!</h3>
        </div>
        
        <p>Welcome to How 2 Bee! We are a team of developers, writers, and 
        beekeepers and we're happy you found us.</p>
        
        <p>You're probably guessing that we made this site because we're 
        passionate about beekeeping. You’re right! We're addicted to honey and 
        the fascinating behavior of bees.</p>
        
        <p>But besides that, we created How 2 Bee to provide you with the most 
        recent and accurate information on beekeeping.</p>
        
        <p>Hundreds of personal beekeeping experiences are spread across the web 
        with incredibly valuable information. By collecting these personal 
        beekeeping experiences, we created this site to provide you with the 
        sequential steps to become a beekeeper. The world needs beekeepers now 
        more than ever due to the decline of honey bee populations around the 
        world.</p>
        
        <p>According to BBC, bee populations in the US declined by 23% last winter. 
        But it's not too late to help the bees and make some honey on the side.</p>
        
        <p>Beekeepers are some of the best animal caretakers in the world. And 
        let's face it - raising honey bees is rewarding. Not only are you going 
        to be enjoying delicious sweet honey and other useful byproducts, but 
        there is something endearing about watching your family of bees grow 
        from only a few hundred to a few thousand. But to make that happen, you 
        need the knowledge only expert beekeepers have accumulated. How 2 Bee spent 
        thousands of hours getting expert beekeeper knowledge into your hands.</p>
        
        <p>Beekeeping isn't an activity solely for experts. It's quite simple to 
        become a beekeeper as long as you have the guidance from the experts!</p>
        
        <p>Anyone can do beekeeping, but people often get confused when they don't 
        know a clear path on how to get started. Three simple steps will take you 
        from planning for your bees, to getting everything set up, to handling 
        them on a daily basis.</p>
        
        <p>If you've ever dreamed of making your own honey, learning about bees'
        intriguing behavior up-close, or even raising your own bee family, then 
        you should take a second to explore our 
        <%= link_to "sequential steps to become a beekeeper today!", articles_path,
                                  title: "Beekeeping Steps to Starting" %></p>
                              
        <h3 class="center">Urban Beekeeping: Even in the city?</h3>
        
        <p>People living in cities and suburban areas often believe that they can't
        become beekeepers. This is simply not true! In fact, it's the opposite! 
        Many urban beekeepers will get a greater honey yield than rural beekeepers 
        because of the minimal amount of pesticides used in cities.</p>
        
        <p>This also makes it easier to avoid problems like Colony Collapse 
        Disorder (CCD), as pesticides create a load of problems for bees. Urban 
        beekeeping can be found in Rome, Montreal, Sydney, Tokyo, Berlin, and 
        even New York (and these are only a few of the hotspots to become a 
        successful urban beekeeper nowadays).</p>
        
        <p>That's where How 2 Bee comes in. All of the information on How 2 Bee 
        was gathered from academic, governmental, or other reliable sources and 
        the content is designed to be both informative and easy-to-read. How 2 Bee 
        spent months accumulating only the best beekeeping sources to supply you 
        with the most reliable information so that you can be sure you're starting 
        beekeeping on the right track.</p>
        
        <p>How 2 Bee is wholeheartedly committed to providing you with the most 
        trustworthy beekeeping material out there, and we'll continue to do so 
        for the years to come.</p>
        
        <div class="card-action center">
          <!--Links-->
          <%= link_to "Articles", articles_path, class: "btn waves-effect waves-light grey lighten-2" %>
        </div>
        
      </div>
    </div>
  </div>
</div>