<h2 class="center orange-text">We'd Like to Hear From You</h2>

<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <p>Do you have a beekeeping story you want to share with the entire How To 
    Bee community? Do you have a question about beekeeping? Do you have advice 
    or useful tips to make this site more useful for you? We want to hear it.</p>
    
    <p>Send us your bee story or message by using the form below. If you just want 
    to ask a quick question, connect with us on 
    <a href="https://www.facebook.com/pages/How-2-Bee/442695985906764">Facebook</a>.</p>
    
    <p>Thank you for sharing your beekeeping stories, questions, and comments 
    with us and the How 2 Bee community!</p>
  </div>
</div>