<h2 class="center orange-text contact-header">We'd Like to Hear From You.</h2>

<!--First Card-->
<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card orange">
      <div class="card-content flow-text white-text center">
        <p>Have a beekeeping story you want to share?</p>
        <br/>
        <p>Or a question about beekeeping?</p>
        <br/>
        <p>Or even advice or useful tips to make this site more useful for you?</p>
      </div>
    </div>
  </div>
</div>

<h3 class="center orange-text contact-header"><i class="fa fa-laptop"></i> Message Us <i class="fa fa-mobile"></i></h3>
        
<!--Second Card-->
<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card orange">
      <div class="card-content flow-text white-text center">
        <p class="link">Send us your bee story or message via 
        <a href="https://www.facebook.com/pages/How-2-Bee/442695985906764">Facebook</a>.</p>
        <br/>
        <p>Thank you for sharing your beekeeping stories, questions, and comments 
        with us and the How 2 Bee community!</p>
      </div>
    </div>
  </div>
</div>