<!--<h2 class="center home-header">Beekeeping made for everyone.</h2>-->
<div class="col s12 center">
  <%= video_tag("home.mp4", :controls => false, 
                            :autobuffer => true, 
                            :autoplay => true, 
                            :loop => true, 
                            :class => "responsive-video home-video") %>
</div>
