// Footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.fa-facebook, .fa-linkedin, .fa-bars {
  color: white;
}

footer li {
  padding: 0.5em 0 0.5em 0;
}

footer .row .col.offset-l2 {
  margin-top: 0em;
}

.footer-buttons {
  margin-top: 3.5em;
}

// Navbar
.fa-bars {
  padding-left: 15px;
}

.logo-icon {
  padding-top: 0.2em;
  height: 50px;
  margin-left: -0.3em;
}

.logo-text {
  font-family: 'ABeeZee', sans-serif;
  letter-spacing: -2px !important;
}

.nav-wrapper {
  height: 4.6em !important;
}

.social-media {
  margin: 3em 0 3em 0;
}

.user-nav {
  margin-right: 1em;
}

@media only screen and (max-width: 350px) {
  .brand-logo {
    padding-left: 1em !important;
  } 
}